services:
  - type: web
    name: multiverse-gamer-backend
    plan: free
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: MP_ACCESS_TOKEN
        sync: false
